body{
    width: 100vw;
    height: 100vh;  
    display: flex;
}
.hh1{
    margin:0 auto;
    text-align: center;
    color: #bb69cc;
    font-size: 20px;
}
.range{
    width: 350px;
    height: 50px;
    border: none;
    position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
}

.range-bar{
   
    height: 25px;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 100px;
    margin-top: 11.5px;
    background-image: linear-gradient(to right, #bb69cc, #246bac);
    overflow: hidden;
}
 
.range-bar span{
    width: 40px;
    height: 15px;
    text-align: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom:8px;
    position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
    
}